name: Publish release

on:
  push:
    branches:
      - master

jobs:
  publish-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout latest code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 21

      - name: Setup build cache
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: List files
        run: ls -la

      - name: Publish artifact
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # or your PAT
          PACKAGE_VERSION: ${{ github.ref }} # Ensure this extracts the correct tag
        run: |
          NEW_VERSION=$(echo "${PACKAGE_VERSION}" | cut -d "/" -f3)
          echo "New version: ${NEW_VERSION}"
          echo "GitHub username: ${GITHUB_ACTOR}"

          # Publish to GitHub Packages
          ./gradlew -Pversion=${NEW_VERSION} publish --info --stacktrace